@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
.bg-pink {
  background-color: #f36393;
}
.bg-cyber {
  background-color: #c97bc5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
}
.logo-nav {
  width: 50%;
  height: auto;
}
.icono {
  width: 5%;
}
.feature-icon {
  font-size: 250%;
}
.small {
  font-weight: 300;
}

@media only screen and (min-width: 1024px) {
  .logo-nav {
    width: 25%;
    height: auto;
  }
}
