@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bg-pink {
  background-color: #f36393;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
}
.logo-nav {
  min-width: 150px;
  max-width: 200px;
  height: auto;
}
